<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= link_to hotel.name, hotel_path(hotel) %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>



</div>
